<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{#is "home"}}
    <title>{{meta_title}} - {{meta_description}}</title>
    {{else}}
    <title>{{meta_title}}</title>
    {{/is}}

    <meta name="apple-mobile-web-app-title" content="{{meta_title}}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "img/apple-touch-icon.png"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset "img/favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset "img/favicon-16x16.png"}}">
    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/github.min.css"> --}}

    <link rel="stylesheet" href="{{asset "css/screen.css"}}">
    <link rel="stylesheet" href="{{asset "css/hljs-github.css"}}">

    {{> google-analytics}}

    {{#if pagination.next}}
    <link href="{{page_url pagination.next}}" rel="prefetch">{{/if}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <main class="content">
        {{navigation}}

        {{{body}}}

        {{> footer}}

    </main>

    {{ghost_foot}}

    <script src="{{asset "js/highlight.pack.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>